<div ng-include="'components/navbar/navbar.html'"></div>

<header class="jumbotron">
  <div class="container">
    
    <h1>SPA Common Blog</h1>
    <p>Create new posts, read and edit all existing posts!</p>
    <p>This is a test task for QualiumSystems</p>
    
  </div>
</header>

<div class="container">
  <div class="row">
    
    <div class="col-md-12" ng-if="isLoggedInResolved && isLoggedIn">
      <p>A user is logged in</p>
    </div>
    
    <div class="col-md-12" ng-if="isLoggedInResolved && !isLoggedIn">
      <p>A user is not logged in</p>
    </div>
    
  </div>
</div>
