.jumbotron {  
  text-align: center;
  background: #6f5499;
  color: @gray-lighter;

  h1 {
    letter-spacing: -2px;
  }

  h2 { 
    color: #cdbfe3;
  }
}

.post-container {
  .post-title {
    margin-top: 0;
  }
}

.btn-add-container {
  margin-bottom: 20px;
} 
